@import "/src/scss/index";

.contactBar {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  @include flexBox();
  font-size: 1.5rem;
  > a {
    margin: 1.5rem;
    @include flexBox();
    position: relative;

    > .detail {
      @include flexBox(center, center);

      position: absolute;
      height: 100%;
      width: fit-content;
      transform: translate(-110%, -25%);
      white-space: nowrap;
      text-overflow: clip;
      background-color: $white;
      color: black;
      padding: 2rem;
      border-radius: 3rem;
    }
  }
}
