@import "/src/scss/index";

.portfolio {
  @include flexBox(center, center);
  padding: 3rem;
  width: 100%;
  > h2 {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-family: "BrushWell";
  }

  > h3 {
    font-family: "Red Velvet";
    font-size: 4.5rem;
    color: $white;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.2rem solid $white;
  }
  > h4 {
    font-family: "Red Velvet";
    font-size: 1.9rem;
    margin-bottom: 3rem;
  }
  > a {
    border: 1px black solid;
    padding: 0.5rem 2rem;
    font-family: "Louis George Cafe";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
  }

  @include tablet {
    > h4 {
      text-align: center;
    }
  }
  @include mobile {
    > * {
      text-align: center;
    }
  }
}
