@import "/src/scss/index";

.Home {
  min-height: 100vh;
  background: no-repeat;
  background-size: cover;
  color: $white;
  position: relative;
  @include flexBox(center);

  > * {
    position: relative;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay_black;
    z-index: 1;
  }
}

.contactBar {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  @include flexBox();
  font-size: 1.5rem;
  z-index: 5;

  > a {
    margin: 1.5rem;
    @include flexBox();
    position: relative;
    font-size: 1.2rem;

    > .detail {
      @include flexBox(center, center);

      position: absolute;
      height: 100%;
      width: fit-content;
      transform: translate(-110%, -25%);
      white-space: nowrap;
      text-overflow: clip;
      background-color: $white;
      color: black;
      padding: 2rem;
      border-radius: 3rem;

      display: none;
    }

    &:hover {
      > .detail {
        display: flex;
      }
    }
  }

  @include tablet {
    position: relative;
    margin: 0 auto;
    top: 6rem;
    transform: translate(0, -50%);
    @include flexBox(center, center, row);
    font-size: 1.5rem;
  }

  @include mobile {
    position: relative;
    margin: 0 auto;
    top: 6rem;
    transform: translate(0, -50%);
    @include flexBox(center, center, row);
    font-size: 1.5rem;
  }
}

.navBar {
  width: 80%;
  margin-top: 4rem;
  > ul {
    @include flexBox(center, space-around, row);
    > a {
      font-family: "NEXT ART light";
      font-size: 1.2rem;
      padding-bottom: 0.7rem;
      border-bottom: 1px solid rgba(250, 250, 250, 0);

      &:hover {
        border-bottom: 1px solid rgba(250, 250, 250, 1);
      }
    }
  }

  @include tablet {
    &.active {
      display: block;
    }
    display: none;
    top: 2rem;
    position: absolute;
    z-index: 5;
    max-height: 100vh;
    > ul {
      @include flexBox(center, space-around, column);
      background-color: $white;
      color: $black;
      border-radius: 2rem;
      > a {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
        border-bottom: 1px solid $black;
      }
    }
  }

  @include mobile {
    &.active {
      display: block;
    }
    display: none;
    position: absolute;
    z-index: 5;
    width: 100vh;
    > ul {
      @include flexBox(center, space-around, column);
      background-color: $white;
      color: $black;
      border-radius: 2rem;
      > a {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
        border-bottom: 1px solid $black;
      }
    }
  }
}

.slider {
  margin-top: 10rem;
  @include flexBox(center, flex-start);
  > h1 {
    font-family: "BrushWell";
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  > svg {
    height: 0.5rem;
    width: 25rem;
    margin-bottom: 3rem;

    > line {
      stroke: $white;
      stroke-width: 5;
    }
  }
  > h2 {
    font-family: "Red Velvet";
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  > p {
    font-family: "Louis George Cafe";
    max-width: 75%;
    text-align: center;
    line-height: 1.3rem;
  }
  @include mobile {
    > * {
      text-align: center;
    }
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;

  .top {
    stroke-dasharray: 40 160;
  }

  .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }

  .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }

  @include desktop {
    display: none;
  }
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}

.active {
  .top {
    stroke-dashoffset: -64px;
  }
  .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
  }
  .bottom {
    stroke-dashoffset: -64px;
  }
}
