@import "/src/scss/index";

.contact {
  position: relative;
  background-size: contain;
  @include flexBox(center, center);
  padding: 2rem;
  > * {
    position: relative;
    z-index: 2;
  }

  > h2 {
    font-family: "BrushWell";
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  > h3 {
    font-family: "NEXT ART light";
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }

  > .formContain {
    width: 60%;
    border-top: 0.2rem solid $black;
    padding-top: 2.5rem;
    @include flexBox(flex-start, space-around, row-reverse);
    img {
      width: calc(100% / 2 - 1rem);
    }

    form {
      width: calc(100% / 2 - 1rem);
      p {
        font-size: 1.2rem;
        font-family: "Louis George Cafe";
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }
      .btnSubmit {
        padding: 0.5rem 1.5rem;
        font-family: "Louis George Cafe";
        text-transform: uppercase;
        border: 1px solid black;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}

.inptGroup {
  @include flexBox(flex-start, flex-start, column);
  margin-bottom: 1.2rem;
  label {
    font-size: 1.5rem;
    font-family: "Louis George Cafe";
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  .inpt {
    background-color: transparent;
    font-family: "Louis George Cafe";
    border: 0.1rem solid $black;
    border-radius: 0.1rem;
    box-shadow: none;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  > .txtarea {
    height: 13rem;
    resize: none;
    padding: 0.5rem;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay_gray;
  z-index: 1;
}
