@import "/src/scss/index";

.footer {
  color: $white;
  @include flexBox(center, center);
  padding: 3rem;

  > p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 50%;
    font-family: "Louis George Cafe";
    text-align: center;
  }

  @include tablet {
    @include flexBox(center, center, row-reverse);
    position: relative;
    > p {
      width: calc(50% - 0.5rem);
    }
  }
  @include mobile {
    > p {
      width: 80%;
    }
  }
}

.contactBar {
  @include flexBox(center, space-around, row);
  font-size: 1.5rem;
  > a {
    color: $gray;
    margin: 1.5rem;
    @include flexBox();
    position: relative;
    font-size: 1.2rem;

    &:hover {
      color: $white;
    }
  }
  @include tablet {
    position: absolute;
    top: 2rem;
  }
}

.navBar {
  width: 80%;
  margin-top: 4rem;
  > ul {
    @include flexBox(center, space-around, row);
    > a {
      font-family: "NEXT ART light";
      font-size: 1.2rem;
      padding-bottom: 0.7rem;
      border-bottom: 1px solid rgba(250, 250, 250, 0);

      &:hover {
        border-bottom: 1px solid rgba(250, 250, 250, 1);
      }
    }
  }

  @include tablet {
    width: calc(50% - 0.5rem);
    > ul {
      @include flexBox(center, space-around, column);
    }
  }

  @include mobile {
    display: none;
  }
}
