@import "/src/scss/index";

.testimonials {
  @include flexBox(center, center);
  border-top: 0.1rem solid $black;
  margin-top: 3rem;
  padding: 2rem;

  > h2 {
    font-family: "BrushWell";
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  > h3 {
    font-family: "Louis George Cafe";
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  > .list {
    @include flexBox(center, space-between, row);
  }
}

.tes {
  border: 1px $black solid;
  padding: 1rem;
  @include flexBox(center, center);
  width: calc(100% / 3 - 2rem);
  position: relative;

  margin-top: 10rem;

  > img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    top: -8rem;
  }

  > h3 {
    margin-top: 4rem;
    font-size: 2rem;
    font-family: "Red Velvet";
    margin-bottom: 1.5rem;
  }

  > p {
    font-family: "Louis George Cafe";
    line-height: 1.2rem;
    text-align: center;
    width: 80%;
  }
}
.btnMore {
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  font-family: "Louis George Cafe";
  text-transform: uppercase;
  border: 0.1rem solid $black;
}
