@font-face {
  font-family: "BrushWell";
  src: url("../assets/fonts/brushwell/Brushwell.otf");
  font-weight: 400;
}

@font-face {
  font-family: "NEXT ART light";
  src: url("../assets/fonts/next_art/NEXT\ ART_Light.otf");
}

@font-face {
  font-family: "Red Velvet";
  src: url("../assets/fonts/red_velvet2/RedVelvet-Regular.otf");
}

@font-face {
  font-family: "Louis George Cafe";
  src: url("../assets/fonts/louis_george_caf/Louis\ George\ Cafe.ttf");
}
