@import "/src/scss/index";

.slider {
  margin-top: 10rem;
  @include flexBox(center, flex-start);
  > h1 {
    font-family: "BrushWell";
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  > svg {
    height: 0.5rem;
    width: 25rem;
    margin-bottom: 3rem;

    > line {
      stroke: $white;
      stroke-width: 5;
    }
  }
  > h2 {
    font-family: "Red Velvet";
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  > p {
    font-family: "Louis George Cafe";
    max-width: 75%;
    text-align: center;
    line-height: 1.3rem;
  }
}
